html {
  color: $text-primary;
  background-color: $background-color;
}

html,
body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 40rem;

  margin: 0 auto;
  padding: 2rem 1rem;

  // to prevent highlighted text spanning entire width of the page
  position: relative;
}
