html {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;

  color: $oc-gray-9;
  background-color: $oc-white;
}

html,
body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 40rem;

  margin: 0 auto;
  padding: 2rem 1rem;
}

.separator {
  height: 0;
  border: none;
  border-top: 1px solid $oc-gray-4;

  margin: 2rem 0;
}
