.header {
  &__title {
    a {
      color: $text-secondary;
      text-decoration: none;
    }
  }

  &__bio {
    a {
      color: $text-secondary;
      transition: color 0.1s;

      &:hover {
        color: $theme-color;
      }
    }
  }

  &__title,
  &__bio {
    color: $text-secondary;

    font-weight: 400;
    font-size: 1.3rem;

    line-height: 2rem;

    em {
      color: $text-primary;

      font-style: normal;
      font-weight: 500;
    }
  }

  &__profile {
    width: 2rem;
    height: 2rem;

    vertical-align: middle;
  }
}
