.post {
  p,
  li {
    font-size: 1rem;
    line-height: 1.8rem;
  }

  &__date {
    font-size: 1rem;
    color: $text-secondary;
  }

  &__header {
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 2rem;
    line-height: 2.9rem;

    margin: 1rem 0;
  }

  img {
    width: 100%;
  }
}
