.posts {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.post-item {
  &__title {
    a {
      color: $oc-teal-6;
      text-decoration: none;
    }

    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;

    margin: 0;
  }

  &__date {
    display: block;

    font-size: 1rem;
    color: $oc-gray-5;

    margin: 1rem 0;
  }

  &__description {
    line-height: 1.7rem;
  }

  & + & {
    margin-top: 4rem;
  }
}
