.post {
  font-size: 1rem;
  line-height: 1.8rem;

  &__date {
    display: block;
    font-size: 1rem;
    color: $text-secondary;

    line-height: 1rem;
  }

  &__header {
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 2rem;
    line-height: 2.9rem;

    margin: 1rem 0;
  }

  img {
    width: 100%;
  }

  ul {
    margin: 0;
    list-style-type: none;

    li {
      text-indent: -5px;

      &:before {
        content: "− ";
        text-indent: -5px;
      }
    }
  }
}
