.posts {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.post-item {
  &__title {
    a {
      text-decoration: none;
    }

    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;

    margin: 0;

    @include mobile {
      font-size: 1.5rem;
    }
  }

  &__date {
    display: block;

    font-size: 1rem;
    color: $text-secondary;

    margin: 1rem 0;
  }

  &__description {
    font-size: 1.1rem;
    line-height: 1.7rem;

    margin: 0.8rem 0;

    @include mobile {
      font-size: 1rem;
    }
  }

  & + & {
    margin-top: 3rem;
  }
}
