.post {
  font-size: 1rem;
  line-height: 1.8rem;

  &__date {
    display: block;
    font-size: 1rem;
    color: $text-secondary;

    line-height: 1rem;
  }

  &__header {
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 2rem;
    line-height: 2.9rem;

    margin: 1rem 0;
  }

  h2 {
    margin-top: 3rem;
  }

  img {
    width: 100%;
  }

  blockquote {
    p {
      margin: 0;
    }

    margin: 1.5rem 0 1.5rem 1rem;
    padding: 0.5rem 0 0.5rem 1.25rem;

    border-left: 4px solid $text-primary;
    font-style: italic;
  }

  sup {
    line-height: 0;

    a {
      &::before {
        content: "[";
      }

      &::after {
        content: "]";
      }
    }
  }

  code {
    font-family: "Ubuntu Mono", "Nanum Gothic Coding", monospace;

    background-color: $code-background;
    padding: 2px 5px;
    border-radius: 2px;
  }

  pre.z-code {
    padding: 1rem 1.5rem;
    margin: 1.5rem 0;
    overflow-x: scroll;

    border-radius: 5px;
    background-color: $code-background;

    code {
      background-color: unset;
      padding: unset;
    }
  }

  .footnote-definition {
    p {
      margin: 0;
    }

    sup {
      font-size: 1rem;
      color: $theme-color;

      &::before {
        content: "[";
      }

      &::after {
        content: "]";
      }
    }

    margin-bottom: 2rem;
  }
}
