<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge; chrome=1" />
    <!-- Render Chrome if available or using latest version of Internet Explorer (Recommended). -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="https://blog.donghwi.dev/" />

    <title>blog.donghwi.dev</title>

    <link rel="stylesheet" href="{{ get_url(path="main.css") | safe }}">

    <meta name="theme-color" content="#12b886" />
    <meta property="og:url" content="https://blog.donghwi.dev/index.html" />
    <meta property="og:site_name" content="blog = (print . head) donghwi" />
    <meta property="og:type" content="blog" />

    {% set title = "서동휘의 블로그" %}
    <!-- -->
    {% set description = "제가 배우고 느낀 것들을 정리해서 올립니다." %}
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta name="twitter:card" content="summary" />

    {% block meta %} {% endblock %}
  </head>

  <body>
    <div class="container">{% block content %} {% endblock %}</div>
  </body>
</html>
