{% extends "base.html" %}

<!-- -->
{% block meta %}
<title> {{ page.title }} | {{ config.extra.site_name }} </title>

<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ page.description }}" />

<meta name="twitter:title" content="{{ page.title }}" /> 
<meta name="twitter:description" content="{{ page.description }}" /> 
{% endblock %}

<!-- -->
{% block content %}
<header class="header">
  <div class="header__title">
    <a href="{{ get_url(path="/") }}"><em>blog</em> = (print . head) donghwi</a>
  </div>
</header>

<hr class="separator" />

<div class="post">
  <div class="post__header">
    <small class="post__date">
      {{ page.date | date(format="%Y년 %m월 %d일") }}
    </small>
    <h1>{{ page.title }}</h1>
  </div>

  {{ page.content | safe }}
</div>

<hr />

<!-- 
  Code from https://github.com/getzola/zola/issues/1285#issuecomment-870959320 
  Temporary footnotes back-references support
-->
<script type="text/javascript">
  window.addEventListener('load', function() {
      for (const ref of document.getElementsByClassName('footnote-reference')) {
          const hash = ref.children[0].hash.substring(1);
          const refhash = 'ref:' + hash;
          ref.id = refhash;
      }

      for (const footnote of document.getElementsByClassName('footnote-definition')) {
          const hash = footnote.id;
          const refhash = 'ref:' + hash;
          const backlink = document.createElement('a');
          backlink.href = '#' + refhash;
          backlink.className = 'footnote-backlink';
          backlink.innerText = '↩';
          const paras = footnote.children;
          const lastPara = paras[paras.length - 1];
          lastPara.appendChild(document.createTextNode('\u00A0'));
          lastPara.appendChild(backlink);
      }
  });
</script>
{% endblock content %}
