@font-face {
  font-family: "Ubuntu Nanum";
  src: url("fonts/UbuntuNanum-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu Nanum";
  src: url("fonts/UbuntuNanum-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

html,
pre {
  font-family: "Ubuntu Nanum", monospace;
}
