@import url("syntax-theme-light.css");

html {
  font-family:
    "Pretendard Variable",
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
}

pre {
  font-family: "Ubuntu Mono", monospace;
}

a {
  color: $theme-color;
}

p {
  word-break: keep-all;
}

hr {
  height: 0;
  border: none;
  border-top: 1px solid $separator-color;

  margin: 2rem 0;
}
